// font
@font-face {
  font-family: 'Rl unno';
  src: url('../fonts/620f81bdb9818ebf45d1bc13_RL-Unno-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pprightgrotesk';
  src: url('../fonts/620f8207ff706fc9d242727f_PPRightGrotesk-TallRegular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font: {
    family: Arial, sans-serif;
    size: 14px;
    weight: 400;
  }

  line-height: 20px;
  letter-spacing: 0;
  color: $color-white;
}