// media query
$desktop: 1920px;
$desktop-small: 1200px;
$tablet-large: 1023px;
$tablet: 991px;
$tablet-small: 768px;
$mobile: 767px;
$mobile-medium: 640px;
$mobile-small: 479px;

// color
$color-point: #fd550e;
$color-white: #f9f9f9;
$color-black: #0a0a0a;