// header
#header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 3.5em 3.75em 3em;
  text-align: center;
  z-index: 9;

  @include desktop {
    padding-right: 7.5em;
    padding-left: 7.5em;
    object-fit: fill;
  }

  @include mobile-small {
    padding: 2.5em 1em 1em;
    align-items: center;
    background-color: #0a0a0a;
  }
  .logo-area {}
  .logo {
    a {
      display: flex;
      align-items: center;
      font-family: Pprightgrotesk, sans-serif;
      color: #f9f9f9;
      font-size: 1.87em;
      font-weight: 400;
      line-height: 1em;
      letter-spacing: 1px;
      text-transform: uppercase;

      @include mobile-small {
        font-size: 1.6em;
        letter-spacing: 1px;
      }
      &::before {
        content: '';
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-right: 0.5em;
        background: url("../images/icon/logo.svg") no-repeat center/cover;
      }
    }
  }
}

#gnb {
  .gnb-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include mobile-small {

    }
  }
  .gnb-item {
    & + .gnb-item {
      .link-gnb {
        padding-left: 1.25em;

        @include mobile-small {
          padding-left: 1.5em;
        }
      }
    }
  }
  .link-gnb {
    display: block;
    font-family: 'Roboto Condensed', sans-serif;
    color: #f9f9f9;
    font-size: 1.25em;
    line-height: 1em;
    text-transform: uppercase;
    transition: .3s;

    @include mobile-small {
    font-size: 1em;
    }

    &:hover, &.selected {
      color: #fd550e;
    }
  }
}