// visual
.sc-visual {
  overflow: hidden;

  margin: {
    top: 7.4em;
    bottom: 7.5em;
  }

  @include desktop {
    margin-top: 9.37em;
  }

  @include mobile-medium {
    margin: {
      top: 4.9em;
      bottom: 4.6em;
    }
  }

  .title {
    .row {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      line-height: 14px;
      overflow: hidden;

      @include mobile-medium {
        flex-direction: column;
        align-items: flex-start;

        padding: {
          top: 4em;
          left: 1.5em;
        }
      }

      &2 {
        @include mobile-medium {
          padding-top: 0em;
        }

        .thumb {
          width: 20%;

          margin: {
            top: 0.25em;
            right: 3.5vw;
          }

          @include desktop {
            width: 18%;
            height: auto;
          }

          img {
            width: auto;
            height: 100%;
            object-fit: cover;

            @include desktop {
              width: 100%;
              height: auto;
              outline-color: $color-white;
              outline-offset: 0px;
              outline-style: none;
              outline-width: 3px;
            }
          }
        }
      }

      &3 {
        .txt-small {
          margin: 0px 3vw 0px 0vw;
        }

        .thumb {
          width: 28%;
          margin-left: 3.5vw;
          padding-top: 0.125em;

          @include desktop {
            width: 21%;
            height: 10vw;

            margin: {
              top: 0.5em;
              left: 4em;
            }

            padding-top: 0;
          }

          img {
            height: 100%;
          }
        }
      }
    }

    strong {
      font-family: 'Rl unno', sans-serif;
      color: $color-white;

      font: {
        size: 15.8em;
        weight: 400;
      }

      line-height: 0.8em;
      letter-spacing: 6px;
      text-transform: uppercase;
      overflow: hidden;

      @include desktop {
        font-size: 20em;
        line-height: 0.8em;
      }

      @include desktop-small {
        font-size: 13em;
      }

      @include tablet-large {
        font-size: 10em;
      }

      @include mobile {
        font-size: 8.6em;
        letter-spacing: 2px;
      }

      @include mobile-medium {
        font-size: 7.5em;
        line-height: 1em;
        text-align: center;
      }

      @include mobile-small {
        font-size: 5.1em;
      }
    }

    .txt-small {
      margin-left: 3vw;

      font: {
        family: Pprightgrotesk, sans-serif;
        size: 12em;
        weight: 400;
      }

      line-height: 1em;
      color: $color-white;
      letter-spacing: 5px;
      text-transform: uppercase;
      overflow: hidden;

      @include desktop {
        font-size: 14em;
      }

      @include tablet-large {
        font-size: 8em;
      }

      @include mobile {
        font-size: 6em;
      }
    }

    .thumb {
      overflow: hidden;
      height: 11em;

      img {
        height: 100%;
      }
    }

    &.pc {
      display: block;

      @include mobile-medium {
        display: none;
      }
    }

    &.mobile {
      display: none;

      @include mobile-medium {
        display: block;
      }
    }
  }
}

// about
.sc-about {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;

  .about-content {
    width: 46%;

    padding: {
      top: 5.6em;
      bottom: 7.5em;
    }

    @include desktop {
      width: 41%;
      padding-bottom: 9.7em;
    }

    @include tablet-large {
      width: 65%;
    }

    @include mobile-medium {
      width: 100%;

      padding: {
        top: 0;
        bottom: 3em;
      }
    }

    .desc {
      position: relative;
      display: flex;
      margin-bottom: 1.5em;
      color: $color-white;

      font: {
        size: 1.5em;
        weight: 400;
      }

      @include mobile-small {
        font-size: 1.2em;
        line-height: 1.3em;
      }

      &::before {
        @include bullet;
        flex-shrink: 0;
        margin-top: 7px;

        @include desktop {
          margin-right: 1em;
        }

        @include mobile-small {
          margin-top: 0;
        }
      }
    }

    .link-more {
      margin-left: 1em;
      color: $color-point;

      &::after {
        background: $color-point;
      }

      @include mobile-small {
        margin-left: 0.8em;
      }
    }
  }
}

// work
.sc-work {
  padding-top: 3.75em;

  .sc-title {
    padding-bottom: 10px;
    border-bottom: 1px solid hsla(0, 0%, 97.7%, 0.62);

    font: {
      family: 'Roboto Condensed', sans-serif;
      size: 1.56em;
      weight: 400;
    }

    line-height: 1em;
    color: $color-white;
    text-transform: uppercase;

    @include desktop {
      border-bottom: 0.3px solid hsla(0, 0%, 97.7%, 0.66);
    }

    @include mobile-small {
      font-size: 1.2em;
    }

    &::before {
      @include bullet;
    }
  }

  .work-item {
    display: flex;
    margin-top: 9.3em;

    &:nth-child(2n) {
      flex-direction: row-reverse;

      @include mobile-medium {
        flex-direction: column;
      }

      .title {
        margin-left: 0;
        margin-right: -27px;
      }
    }

    @include mobile-medium {
      flex-direction: column;
    }

    .thumb-box {
      display: flex;
      overflow: hidden;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      width: 45%;
      max-width: 686px;

      @include desktop-small {
        max-width: 540px;
      }

      @include mobile-medium {
        width: 100%;
        max-width: none;
      }

      &:hover {
        img {
          transform: scale(1.1);
        }
      }

      img {
        transition: .5s;
      }
    }

    .info-box {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      width: 55%;
      max-width: 750px;

      @include desktop {
        width: 45%;
        max-width: none;
      }

      @include mobile-medium {
        flex-direction: column;
        width: 100%;
        max-width: none;
      }
    }

    .title {
      margin: {
        top: 20px;
        bottom: 10px;
        left: -27px;
      }

      font: {
        family: 'Rl unno', sans-serif;
        size: 9.37em;
        weight: 400;
      }

      line-height: 1em;
      color: $color-white;
      text-transform: uppercase;
      transition: .3s;

      @include desktop {
        margin-bottom: 25px;
        font-size: 12em;
        line-height: 0.9em;
      }

      @include desktop-small {
        font-size: 8.5em;
      }

      @include tablet-large {
        font-size: 7.5em;
      }

      @include tablet {
        font-size: 6.5em;
      }

      @include mobile {
        font-size: 5em;
      }

      @include mobile-medium {
        margin: {
          top: 25px;
          bottom: 15px;
          left: 0;
        }
      }

      @include mobile-small {
        font-size: 4.2em;
      }

      &:hover {
        // color: $color-point;
      }
    }

    .desc,
    .keyword-wrap {
      width: 75%;

      margin: {
        bottom: 25px;
        left: 21px;
      }

      font: {
        size: 1.5em;
        weight: 400;
      }

      color: $color-white;

      @include tablet {
        font-size: 1.2em;
      }

      @include mobile-medium {
        width: 100%;
        margin-left: 0;
      }
    }

    .keyword-wrap {
      font-family: 'Roboto Condensed', sans-serif;
      text-transform: uppercase;
    }
  }

  .link-more-wrap {
    display: flex;
    margin-left: 21px;

    @include mobile-medium {
      margin-left: 0;
    }
  }

  .link-more {
    &+.link-more {
      margin-left: 12px;
    }

    @include mobile-small {
      font-size: 2.2em;
    }
  }
}

// pre-load
.page-load {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d4d4d4;
  z-index: 200;

  @include mobile-medium {
    background-color: $color-point;
  }

  .title-box {
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    color: $color-black;
    opacity: 0;

    @include mobile-medium {
      color: $color-white;
    }
  }

  .title {
    margin-top: 0.25em;

    font: {
      family: Pprightgrotesk, sans-serif;
      size: 3.6em;
    }

    line-height: 1em;
    letter-spacing: 1px;

    @include mobile-small {
      font-size: 2.5em;
    }
  }

  .desc {
    font: {
      family: 'Roboto Condensed', sans-serif;
      size: 1.2em;
    }

    em {
      font-family: 'Rl unno', sans-serif;
    }

    @include mobile-small {
      font-size: 0.9em;
    }
  }
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: {
    image: url("../images/bg/overlay.gif");
    position: 0 0;
    size: 250px;
  }

  opacity: 0.06;
  pointer-events: none;
  z-index: 300;

  @include mobile-medium {
    opacity: 0.02;
  }
}

// cursor
.cursor {
  position: fixed;
  opacity: 0;
  visibility: visible;
  pointer-events: none;
  z-index: 100;

  @media (max-width: 1023px) {
    visibility: hidden;
  }

  &.border {
    .cursor-pointer {
      width: 3rem;
      height: 3rem;
      border-color: $color-white;
      background: transparent;
    }
  }

  &-pointer {
    position: absolute;
    width: 1rem;
    height: 1rem;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 1px solid transparent;
    background: $color-white;
    mix-blend-mode: difference;
    transition: .4s ease-out;
  }
}